player-connection-mode=Listen
player-connection-guid=2143698060
player-connection-debug=0
player-connection-project-name=Benesse Project
player-connection-ip=192.168.150.67
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=None,OpenVR,Oculus
hdr-display-enabled=0
